version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      timezone: "Asia/Tokyo"
    commit-message:
      prefix: "ci"
    groups:
      actions:
        patterns:
          - "*"
    open-pull-requests-limit: 10
